@import './mixin'

body
  background-color #64BD48

h1, p, input
  text-align center

input, button
  display block
  margin 0 auto

#login-form
  background-color #1D6805
  width 600px
  margin auto
  margin-top 50px
  padding 15px
  box-shadow rgba(0, 0, 0, 0.4) 0px 1px 4px 0px
