h3.text-center Users
ul
.form-inline
  .form-group
    label.sr-only(for="user_input") User
    input.form-control(placeholder="Add user")#user_input
  button(type="submit").btn.btn-default#user_btn Add
