border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body
  background-color #f2faf4
  height 100%
  width 100%

#content
  border 2px solid #2c9950
  border-radius 15px
  background-color rgba(73, 187, 91, 0.16)
  width 600px
  margin auto
  text-align center

.msg_app, .msg_sent, .msg_recieved
  border-radius 5px

.msg_app
  text-align center

.msg_sent
  text-align right

.msg_recieved
  text-align left

textarea
  width 95%
  resize none
  border 1px solid #999999

button
  width 10%
  display inline-block
