%html
  %head
    %script{:src => "js/sjcl.js"}
    %script{:src => "js/jquery.js"}
    %script{:src => "js/spine/spine.js"}
    %script{:src => "js/spine/ajax.js"}
    %script{:src => "js/safebook.js"}
  %body
    #signup
      %input#pseudo
      %br
      %input#password{type: "password"}
      %br
      %button Submit
