border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

#body
  height 100%
  width 100%
  margin auto

#content
  height 90%
  width 100%

.msg_app, .msg_sent, .msg_recieved
  border-radius 5px

.msg_app
  text-align center

.msg_sent
  text-align right

.msg_recieved
  text-align left

textarea
  resize none
  width 85%
  border 1px solid #999999

button
  width 10%
  display inline-block
